### Distance Table for Nearest Temple

### Column names

- tract: Is the tract ID. census often labels it `GEOID`
- name: is the `templeNameId` in the temple details file
- meters: the distance from the center of the tract to the temple location in meters
- miles: the distance from the center of the tract to the temple location in miles

### Data Details

There are 74133 rows and the tracts are based on the [2018 tract tables](https://www2.census.gov/geo/tiger/TIGER2018/TRACT/). Here is a [website where you can see the current tract boundaries](https://data.census.gov/map?q=Kootenai+County,+Idaho+Sac+and+Fox&g=040XX00US16_060XX00US1605590621&layer=VT_2021_140_00_PY_D1&mode=thematic&loc=47.7170,-116.8157,z11.2977) (which are slightly different)

### Code Details

See the [R script](https://github.com/BYUIDSseniorproject/scrape/blob/main/temple_example/5_distance.r) used to calculate the distances. Note the use of [EPSG 9311](https://epsg.io/9311) to get a projection in meters. It says the error is 5 meters.

In [1]:
# %%
import polars as pl
import plotly.express as px
import pyarrow.parquet as pq

In [2]:
dat = pl.from_arrow(pq.read_table("tract_distance_to_nearest_temple.parquet"))
dat.head(5)

shape: (5, 4)
┌─────────────┬─────────────────────────────────┬────────────┬──────────┐
│ tract       ┆ name                            ┆ meters     ┆ miles    │
│ ---         ┆ ---                             ┆ ---        ┆ ---      │
│ str         ┆ str                             ┆ f64        ┆ f64      │
╞═════════════╪═════════════════════════════════╪════════════╪══════════╡
│ 36061014900 ┆ manhattan-new-york-temple       ┆ 107.248949 ┆ 0.066641 │
│ 49049002400 ┆ provo-city-center-temple        ┆ 163.378405 ┆ 0.101519 │
│ 41039002101 ┆ willamette-valley-oregon-temple ┆ 207.090472 ┆ 0.12868  │
│ 06019004214 ┆ fresno-california-temple        ┆ 214.053264 ┆ 0.133007 │
│ 36061015300 ┆ manhattan-new-york-temple       ┆ 216.699319 ┆ 0.134651 │
└─────────────┴─────────────────────────────────┴────────────┴──────────┘

In [3]:
dat.shape

(74133, 4)

In [12]:
dat.select("meters", "miles").describe()

shape: (9, 3)
┌────────────┬───────────────┬─────────────┐
│ describe   ┆ meters        ┆ miles       │
│ ---        ┆ ---           ┆ ---         │
│ str        ┆ f64           ┆ f64         │
╞════════════╪═══════════════╪═════════════╡
│ count      ┆ 74133.0       ┆ 74133.0     │
│ null_count ┆ 0.0           ┆ 0.0         │
│ mean       ┆ 105682.250643 ┆ 65.667906   │
│ std        ┆ 275886.302831 ┆ 171.427801  │
│ min        ┆ 107.248949    ┆ 0.066641    │
│ 25%        ┆ 21819.227774  ┆ 13.55784    │
│ 50%        ┆ 51236.717996  ┆ 31.837021   │
│ 75%        ┆ 121193.182584 ┆ 75.305952   │
│ max        ┆ 5.8257e6      ┆ 3619.932192 │
└────────────┴───────────────┴─────────────┘

In [13]:
rexburg_tracts = ["16065950100", "16065950200", "16065950400", "16065950301", "16065950500", "16065950302"]
courd_tracts = ["16055000402", "16055000401", "16055001200", "16055000900"]

In [15]:
dat.filter(pl.col("tract").is_in(rexburg_tracts))

shape: (6, 4)
┌─────────────┬──────────────────────────┬──────────────┬───────────┐
│ tract       ┆ name                     ┆ meters       ┆ miles     │
│ ---         ┆ ---                      ┆ ---          ┆ ---       │
│ str         ┆ str                      ┆ f64          ┆ f64       │
╞═════════════╪══════════════════════════╪══════════════╪═══════════╡
│ 16065950301 ┆ rexburg-idaho-temple     ┆ 1260.821372  ┆ 0.783438  │
│ 16065950302 ┆ rexburg-idaho-temple     ┆ 1656.70412   ┆ 1.029428  │
│ 16065950200 ┆ rexburg-idaho-temple     ┆ 2782.109221  ┆ 1.728723  │
│ 16065950100 ┆ teton-river-idaho-temple ┆ 5620.339981  ┆ 3.492317  │
│ 16065950500 ┆ rexburg-idaho-temple     ┆ 6482.833508  ┆ 4.028246  │
│ 16065950400 ┆ rexburg-idaho-temple     ┆ 18744.042583 ┆ 11.647008 │
└─────────────┴──────────────────────────┴──────────────┴───────────┘

In [16]:
dat.filter(pl.col("tract").is_in(courd_tracts))

shape: (4, 4)
┌─────────────┬───────────────────────────┬──────────────┬───────────┐
│ tract       ┆ name                      ┆ meters       ┆ miles     │
│ ---         ┆ ---                       ┆ ---          ┆ ---       │
│ str         ┆ str                       ┆ f64          ┆ f64       │
╞═════════════╪═══════════════════════════╪══════════════╪═══════════╡
│ 16055000401 ┆ spokane-washington-temple ┆ 18452.907526 ┆ 11.466105 │
│ 16055000402 ┆ spokane-washington-temple ┆ 22394.139528 ┆ 13.915073 │
│ 16055000900 ┆ spokane-washington-temple ┆ 32798.140821 ┆ 20.37982  │
│ 16055001200 ┆ spokane-washington-temple ┆ 34805.065457 ┆ 21.626865 │
└─────────────┴───────────────────────────┴──────────────┴───────────┘