### Query
This notebook represents the __Data Warehouse__ step of data engineering. 

Now that our data has been through the data engineering pipeline, it is ready to be consumed by end users. In real life, these could be BI Tools, ML Models, or Data Scientists. 

Below are some example queries they might run.

In [ ]:
%sql
-- See the songs dataset
SELECT *
FROM songs
LIMIT 5;

In [ ]:
%sql
-- See the artists dataset
SELECT *
FROM artists
LIMIT 5;

In [ ]:
%sql
-- Get all of the artists with lat and long coordinates
SELECT *
FROM artists
WHERE artist_lat is NOT NULL AND artist_long is NOT NULL
LIMIT 5;

In [ ]:
%sql
-- Which artists have the most songs in the dataset? 
SELECT artist_name, count(song_id) AS num_songs
FROM songs
JOIN artists
ON songs.artist_id == artists.artist_id
GROUP BY artist_name
ORDER BY num_songs DESC
LIMIT 5;

In [ ]:
%sql
-- Show the most popular extra long songs
SELECT * 
FROM songs 
WHERE length == 'Extra Long'
ORDER BY song_popularity DESC
LIMIT 20;